del.diff {
	background-color: lightcoral;
}
ins.diff {
	background-color: lightgreen;
}
del.diff-selected {
	background-color: firebrick;
}
ins.diff-selected {
	background-color: limegreen;
}

.link-to-diff {
	color: darkgoldenrod;
}

.link-to-new {
	color: darkgreen;
}

.link-to-del {
	color: darkred;
}


