del {
	background-color: lightcoral;
}
ins {
	background-color: lightgreen;
}
del.diff-selected {
	background-color: firebrick;
}
ins.diff-selected {
	background-color: limegreen;
}

.link-diff {
	color: darkgoldenrod;
}

.link-new {
	color: darkgreen;
}

.link-del {
	color: darkred;
}


