del {
	background-color: tomato;
}
ins {
	background-color: lightgreen;
}
del.diff-selected {
	background-color: red;
}
ins.diff-selected {
	background-color: green;
}

.diff-highlighted {
	background-color: yellow;
}
