del.diff, del.diff * {
	background-color: lightcoral;
}
ins.diff, ins.diff * {
	background-color: lightgreen;
}
/*del.diff-selected, del.diff-selected * {
	background-color: firebrick;
}
ins.diff-selected, ins.diff-selected * {
	background-color: limegreen;
}*/

del.diff:has(img) {
	background-color: transparent;
}

ins.diff:has(img) {
	background-color: transparent;
}

del.diff > img {
	border: 0.7rem solid lightcoral !important;
}

ins.diff > img {
	border: 0.7rem solid lightgreen !important;
}

/*
del.diff-selected > img {
	border: 0.7rem solid firebrick !important;
}

ins.diff-selected > img {
	border: 0.7rem solid limegreen !important;
}*/

.link-to-diff {
	color: darkgoldenrod !important;
}

.link-to-add {
	color: darkgreen !important;
}

.link-to-del {
	color: darkred !important;
}


