del.diff, del.diff * {
	background-color: lightcoral;
}
ins.diff, ins.diff * {
	background-color: lightgreen;
}
del.diff-selected, del.diff-selected * {
	background-color: firebrick;
}
ins.diff-selected, ins.diff-selected * {
	background-color: limegreen;
}

.link-to-diff {
	color: darkgoldenrod !important;
}

.link-to-add {
	color: darkgreen !important;
}

.link-to-del {
	color: darkred !important;
}


